@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chelsea+Market&family=Dancing+Script:wght@400..700&family=Gravitas+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




:root {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;

    --font2:  "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;

    --font3: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: darkgray;
    min-height: 100%;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    }
header > p{
    padding-bottom: 50px;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(27, 27, 27);
    color:white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
    padding: 5px;
    text-shadow:1px 1px 0px black;
    background-size: cover;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}
section#img02{
    background-image: url('../imagens/background002.jpg');
     background-position: right center;
     
}
section > p {
    padding: 2em;
}
section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4.5vw;
    
}
