@charset "UTF-8"
        body{
            background-color: rgb(0, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 20px;
        } h1{
            background-color: brown;
        }
