@charset "UTF-8";
        body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif; font-size: 20px;
        }  
        h1 {
            background-color: brown;
        }
        h2 {
            background-color: rgb(77, 238, 238);
        }