@charset "UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}body{
    background-image: linear-gradient(to right, #04D939, #027333 );
} 
main{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #02192e
}
h1{
    color: #045c1a;
    text-align: center;
    text-shadow: 1px 1px 2px #01492f;
}
h2{
   color: #025939
}
p{
    text-align: justify;
}